:root{
    --primary-color: #ffffff;
    --secondary-color: #111827;
    --menu-color: #090808;
    --accent-color: #050709;
    --text-light: #ffffff;
    --item-color: #1374d5b7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    min-height: auto;
    background-color: #f4f6f8;
}
/* dùng chung all admin */
header{
    width: 100%;
    min-height: 50px;
    padding: 10px 20px;
    /* cố định luôn header trên màn hình */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.search{
    width: 10%;
    padding-top: 1%;
}

.search input{
    width: 100%;
    right: 0;
    border-radius: 25px;
    
}
.container{
    height: 100vh;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px 1fr;   
}
.sidebar{
    width: 100%;
    position: fixed;
    top: 85px;
    left: 0;
    height: calc(100vh - 85px);
    height: 100vh;
    padding: 40px;
    color: var(--secondary-color);
}
.sidebar a{
    font-size: 20px;
    text-decoration: none;
    display: grid;
    margin-bottom: 20px;
    gap: 20px;
}
.btn{
    position: absolute;
    bottom: 100px;
    left: 40px;
    padding: 11px 10px;
    border-radius: 50px;
    background-color: #111827;
    color: white;
    font-size: 18px;
}
/* dùng chung */
.main-content{
    width: 500%;
    min-height: 100vh;
    margin-left: 250px;
    padding-top: 105px;
    padding-left: 30px;

}
/* dùng chung */
.chapter{
    width: 100%;
    border-left: 5px solid #dc1b1b;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
    margin: 10px;

}
/* dùng chung  */
.dashboard{
    width: 100%;
    min-height: 500px;
    border-radius: 10px;
    padding: 40px;
    background-color: var(--primary-color);
}
.dashboard h2{
    width: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    border-collapse: collapse;
}
.dashboard p{
    margin-bottom: 20px;
}
/* dùng chung */
.search{
    margin-bottom: 20px;
}
/* dashboard admin */
.statistics{
    width: 100%;
    display: flex;
    gap: 20px;
}
.statistic-item{
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--item-color);
}
.statistic-item h3{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.statistic-item p{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    background-color: aliceblue;
    border-radius: 20%;
}

/* user admin */
table{
    width: 100%;
    font-size: 22px;
}

table tr th{
    height: 60px;
}

.item_head{
    height: 50px;
}

/* cars admin */
.item_tatol{
    width: 20%;
    color:#f4f6f8;
    height: 100px;
    border-radius: 10px;
    background-color: #111827;
}









