<<<<<<< HEAD
:root{
=======
:root {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    --primary-color: #ffffff;
    --secondary-color: #111827;
    --menu-color: #090808;
    --accent-color: #050709;
    --text-light: #ffffff;
    --item-color: #1374d5b7;
<<<<<<< HEAD
    --chu--font:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blue{ background:#a6bcd8; }
.green{ background:#acdac4; }
.yellow{ background:#e7dfbf; }
.purple{ background:#b4e2b6; }
.black{ background: rgb(50, 49, 49);}

*{
=======
    --chu--font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blue {
    background: #a6bcd8;
}
.green {
    background: #acdac4;
}
.yellow {
    background: #e7dfbf;
}
.purple {
    background: #b4e2b6;
}
.black {
    background: rgb(50, 49, 49);
}
* {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
body{
=======
body {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    font-family: Arial, sans-serif;
    min-height: auto;
    background-color: #f4f6f8;
}
<<<<<<< HEAD
/* dùng chung all admin */
header{
    width: 100%;
    min-height: 50px;
    padding: 10px 20px;
=======

/* dùng chung all admin */
header {
    width: 100%;
    min-height: 40px;
    padding: 8px 18px;
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    /* cố định luôn header trên màn hình */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--primary-color);
<<<<<<< HEAD
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.search{
    width: 10%;
    padding-top: 1%;
}

.search input{
    width: 100%;
    right: 0;
    border-radius: 25px;
    
}
.container{
    display: flex;
    background-color: #1d1e1f;
}
.sidebar{
=======
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.logo-admin {
    width: 180px;
    height: 60px;
    position: absolute;
    left: 140px;
}

.search {
    width: 10%;
    padding-top: 1%;
}
#search{
    width: 200px;
    padding: 12px 18px 12px 48px;
    border: 2px solid #111827;
    border-radius: 30px;
    background-image: url("/car-shop/assets/images/icon/kinh-lup.png");
    background-repeat: no-repeat;
    background-position: 160px center;
    background-size: 22px;
}

.logo-search {
    width: 20px;
    height: 18px;
}

.search input {
    width: 100%;
    right: 0;
    border-radius: 18px;

}

.container {
    display: flex;
    background-color: #1d1e1f;
}

.sidebar {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    position: fixed;
    top: 120px;
    left: 0;
    height: calc(100vh - 85px);
    height: 100vh;
    padding: 50px;
    color: var(--secondary-color);
}
<<<<<<< HEAD
.sidebar a{
=======

.sidebar a {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 3px;
    background-color: #1abca9;
    gap: 40px;
}
<<<<<<< HEAD
.btn{
=======

/* bên trái dasboard */
.sidebar a:hover {
    background-color: #f4f1f1;
    font-weight: bold;
    color: rgba(38, 135, 49, 0.751);
}

.btn {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    position: absolute;
    bottom: 140px;
    left: 40px;
    padding: 11px 10px;
    border-radius: 50px;
    background-color: #111827;
    color: white;
    font-size: 18px;
}
<<<<<<< HEAD
/* dùng chung */
.main-content{
=======

/* dùng chung */
.main-content {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    min-height: 100vh;
    margin-left: 250px;
    padding-top: 105px;
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 250px);

}
<<<<<<< HEAD
/* dùng chung */
.chapter{
=======

/* dùng chung */
.chapter {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 100%;
    border-left: 5px solid #dc1b1b;
    color: #f4f6f8;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
    margin: 10px;

}
<<<<<<< HEAD
/* dùng chung  */
.dashboard{
=======

/* dùng chung  */
.dashboard {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    background: #ffffff;
    border-radius: 18px;
    padding: 32px;
    margin-bottom: 28px;
    min-height: auto;
<<<<<<< HEAD
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.dashboard h2{
    display:inline-block;
    padding:10px 15px;
    border-radius:10px;
    margin-bottom:20px;
}
.dashboard p{
    margin-bottom: 20px;
}
.dashboard img{
=======
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.dashboard h2 {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dashboard p {
    margin-bottom: 20px;
}

.dashboard img {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    display: block;
    margin: 20px auto 0;

}
<<<<<<< HEAD
/* dùng chung */
.search{
    width: 250px;
    margin-bottom: 20px;
}
#search{
    padding: 12px;
}
/* dashboard admin */
.statistics{
=======

/* dùng chung */
.search {
    width: 250px;
    margin-bottom: 20px;
}

#search {
    padding: 12px;
}

/* dashboard admin */
.statistics {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 100%;
    display: flex;
    gap: 20px;
}
<<<<<<< HEAD
.statistic-item{
=======

.statistic-item {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--item-color);
}
<<<<<<< HEAD
.statistic-item h3{
=======

.statistic-item h3 {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
<<<<<<< HEAD
.statistic-item p{
=======

.statistic-item p {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    background-color: aliceblue;
    border-radius: 20%;
}

<<<<<<< HEAD
    /* user admin */
    table{
        width: 100%;
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .dhb-head, 
    .toolbar,
    .table-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dhb-head{
        margin-bottom: 20px;
    }
    .toolbar{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin: 22px 0;
    }
    .toolbar input{
        width: 330px;
    }
    .toolbar input,
    .toolbar select{
        padding: 13px 16px;
        border: 1px solid #dbe3ef;
        border-radius: 12px;
        outline: none;
    }

    .dhb-toof{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        gap: 18px;
    }
    .stats{
        display: block;
    }

    .icon-stats{
        width: 80px;
        height: 80px;
    }

    .stat-box{
        width: 100%;
        min-height: 120px;
        padding: 20px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .stat-box span{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stat-box h3{
        font-size: 24px;
        border-radius: 10px;
        text-align: center;
        background-color: #f5f7f8;
    }
    .table-box{
        margin-top: 20px;
        overflow-x: auto;
    }
    .add-btn{
        padding: 12px 18px;
        border-radius: 10px;
        background: #2563eb;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .user_table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: white;
    }

    .user_table th{
        background: #1d4caf;
        color: white;
        padding: 16px;
        font-size: 16px;
        border-radius: 0;
        text-align: left;
    }

    .user_table td{
        padding: 15px 16px;
        border-bottom: 1px solid #e5e7eb;
        font-size: 15px;
    }
    table tr th{
        height: 60px;
    }
    .item_head{
        height: 50px;
    }
    .user-table tr:hover{
        background: #e2e6ea;
    }
    .user-name{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .user-name img{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
    }
    .role,
    .status{
        padding: 6px 12px;
        border-radius: 20px;
        font-size: 13px;
    }
    .role.user{
        background: #dbeafe;
        color: #2563eb;
    }
    .role.admin{
        background: #f3e8ff;
        color: #7e22ce;
    }
    .status.active{
        background: #dcfce7;
        color: #15803d;
    }
    .status.inactive{
        background: #fee2e2;
        color: #dc2626;
    }
    .crud-icon{
        gap:8px;
        display: flex;
        align-items: center;
    }
    .btn-imgcru{
        width: 40px;
        height: 40px;
    }
    .edit-btn,
    .delete-btn{
        margin: 0;
        font-size: 14px;
        background: white;
    }
    .edit-btn,
    .delete-btn{
        font-size: 20px;
    }
    .view_dashboard{
        overflow-x: auto;
    }
/* add-user */
.form-card{
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.18);
=======


/* user admin */
table {
    width: 100%;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dhb-head,
.toolbar,
.table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dhb-head {
    margin-bottom: 20px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 22px 0;
}

.toolbar input {
    width: 330px;
}

.toolbar input,
.toolbar select {
    padding: 13px 16px;
    border: 1px solid #dbe3ef;
    border-radius: 12px;
    outline: none;
}

.dhb-toof {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 18px;
}

.stats {
    display: block;
}

.icon-stats {
    width: 80px;
    height: 80px;
}

.stat-box {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.stat-box span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-box h3 {
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    background-color: #f5f7f8;
}

.table-box {
    margin-top: 20px;
    overflow-x: auto;
}

.add-btn {
    padding: 12px 18px;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
}

.user_table th {
    background: #1d4caf;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 0;
    text-align: left;
}

.user_table td {
    padding: 15px 16px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 15px;
}

table tr th {
    height: 60px;
}

.item_head {
    height: 50px;
}

.user-table tr:hover {
    background: #e2e6ea;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-name img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.role,
.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
}

.role.user {
    background: #dbeafe;
    color: #2563eb;
}

.role.admin {
    background: #f3e8ff;
    color: #7e22ce;
}

.status.active {
    background: #dcfce7;
    color: #15803d;
}

.status.inactive {
    background: #fee2e2;
    color: #dc2626;
}

.crud-icon {
    gap: 8px;
    display: flex;
    align-items: center;
}

.btn-imgcru {
    width: 40px;
    height: 40px;
}

.edit-btn,
.delete-btn {
    margin: 0;
    font-size: 14px;
    background: white;
}

.edit-btn,
.delete-btn {
    font-size: 20px;
}

.view_dashboard {
    overflow-x: auto;
}

/* add-user */
.form-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .18);
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: min(1200px, 90%);
    margin: 40px 20px;
    overflow: hidden;
}
<<<<<<< HEAD
.user-form{
=======

.user-form {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}
<<<<<<< HEAD
.form-group{
=======

.form-group {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: flex;
    flex-direction: column;
    gap: 8px;
}
<<<<<<< HEAD
.form-group label{
    font-weight: 700;
    color: #111827;
}
.form-group input,
.form-group select{
=======

.form-group label {
    font-weight: 700;
    color: #111827;
}

.form-group input,
.form-group select {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    padding: 14px 16px;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
}
<<<<<<< HEAD
.form-group input:focus,
.form-group select:focus{
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37,99,235,.15);
}
.form-action{
=======

.form-group input:focus,
.form-group select:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, .15);
}

.form-action {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 30px;
}
<<<<<<< HEAD
.btn-submit,
.btn-cancel{
=======

.btn-submit,
.btn-cancel {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    padding: 13px 26px;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
<<<<<<< HEAD
.btn-submit{
    background: #2563eb;
    color: white;
}
.btn-cancel{
=======

.btn-submit {
    background: #2563eb;
    color: white;
}

.btn-cancel {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    background: #e5e7eb;
    color: #111827;
}

/* cars admin */
<<<<<<< HEAD
.item_tatol{
    width: 100%;
    color:#f4f6f8;
    border-radius: 10px;
    background-color: #111827;
}
#stitle-cars{
    text-align: center;
}
.stt-cars{
    background: #a4ebbe;
    border-radius: 10px;
}
/* add-cars */
.car-frcars{
=======
.item_tatol {
    width: 100%;
    color: #f4f6f8;
    border-radius: 10px;
    background-color: #111827;
}

#stitle-cars {
    text-align: center;
}

.stt-cars {
    background: #a4ebbe;
    border-radius: 10px;
}
/* cars admin phan trang */
.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.pagination a{
    padding: 10px 15px;
    border-radius: 8px;
    background: white;
    color: #111827;
    text-decoration: none;
    border: 1px solid #dbe3ef;
    font-weight: bold;
}

.pagination .active-page,
.pagination a:hover{
    background: #2563eb;
    color: white;
}

/* add-cars */
.car-frcars {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px 34px;
}
<<<<<<< HEAD
.form-grcars{
=======

.form-grcars {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: flex;
    flex-direction: column;
    gap: 8px;
}
<<<<<<< HEAD
.form-grcars label{
    font-weight: 700;
    color: #111827;
}
.form-grcars input,
.form-grcars select,
.form-grcars textarea{
=======

.form-grcars label {
    font-weight: 700;
    color: #111827;
}

.form-grcars input,
.form-grcars select,
.form-grcars textarea {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    font-size: 15px;
    box-sizing: border-box;
    outline: none;
}
<<<<<<< HEAD
.form-grcars.full{
    grid-column: 1 / -1;
}

.form-grcars textarea{
=======

.form-grcars.full {
    grid-column: 1 / -1;
}

.form-grcars textarea {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    min-height: 130px;
    resize: vertical;
}

/* brands admin */
<<<<<<< HEAD
.brand-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
=======
.brand-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
<<<<<<< HEAD
.brand-modal.active{
    display: flex;
}
.brand-modal-box{
=======

.brand-modal.active {
    display: flex;
}

.brand-modal-box {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 460px;
    background: white;
    border-radius: 22px;
    padding: 28px;
<<<<<<< HEAD
    box-shadow: 0 20px 60px rgba(0,0,0,0.25);
    animation: modalShow 0.3s ease;
}
/* order admin */
.admin-modal{
    position: fixed;
    inset: 80px 0 0 10px;
    background: rgba(0,0,0,.45);
=======
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
    animation: modalShow 0.3s ease;
}

/* order admin */
.admin-modal {
    position: fixed;
    inset: 80px 0 0 10px;
    background: rgba(0, 0, 0, .45);
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
<<<<<<< HEAD
.admin-modal.active{
    display: flex;
}
.admin-modal-box{
=======

.admin-modal.active {
    display: flex;
}

.admin-modal-box {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 520px;
    background: #fff;
    border-radius: 18px;
    padding: 25px;
<<<<<<< HEAD
    box-shadow: 0 20px 50px rgba(0,0,0,.25);
}
.admin-modal-head{
=======
    box-shadow: 0 20px 50px rgba(0, 0, 0, .25);
}

.admin-modal-head {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
<<<<<<< HEAD
.admin-modal-head button{
=======

.admin-modal-head button {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    border: none;
    background: transparent;
    cursor: pointer;
}
<<<<<<< HEAD
.modal-close-img{
    width: 60px;
    height: 60px;
}
.form-group-modal{
=======

.modal-close-img {
    width: 60px;
    height: 60px;
}

.form-group-modal {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}
<<<<<<< HEAD
.form-group-modal input,
.form-group-modal select{
=======

.form-group-modal input,
.form-group-modal select {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    padding: 12px 14px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
}
<<<<<<< HEAD
.modal-actions{
=======

.modal-actions {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
}
<<<<<<< HEAD
.cancel-btn,
.save-btn{
=======

.cancel-btn,
.save-btn {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
<<<<<<< HEAD
.cancel-btn{
    background: #e5e7eb;
}
.save-btn{
=======

.cancel-btn {
    background: #e5e7eb;
}

.save-btn {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    background: #2563eb;
    color: #fff;
}

<<<<<<< HEAD
@keyframes modalShow{
    from{
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
    to{
=======
@keyframes modalShow {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }

    to {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

<<<<<<< HEAD
.brand-modal-head{
=======
.brand-modal-head {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
<<<<<<< HEAD
.brand-modal-head h2{
    font-size: 26px;
    color: #111827;
}
.brand-modal-head button{
=======

.brand-modal-head h2 {
    font-size: 26px;
    color: #111827;
}

.brand-modal-head button {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(112, 230, 230, 0.588);
    border-radius: 50%;
    cursor: pointer;
}
<<<<<<< HEAD
.clmodel-img{
    width: 50px;
    height: 50px;
}
.form-grbr{
    margin-bottom: 18px;
}

.form-grbr label{
=======

.clmodel-img {
    width: 50px;
    height: 50px;
}

.form-grbr {
    margin-bottom: 18px;
}

.form-grbr label {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #111827;
}

<<<<<<< HEAD
.form-grbr input{
=======
.form-grbr input {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #dbe3ef;
    border-radius: 12px;
    outline: none;
}

<<<<<<< HEAD
.form-grbr input:focus{
    border-color: #2563eb;
}

.modal-actions{
=======
.form-grbr input:focus {
    border-color: #2563eb;
}

.modal-actions {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 25px;
}

.cancel-btn,
<<<<<<< HEAD
.save-btn{
=======
.save-btn {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}
<<<<<<< HEAD
.cancel-btn{
    background: #e5e7eb;
    color: #111827;
}
.save-btn{
=======

.cancel-btn {
    background: #e5e7eb;
    color: #111827;
}

.save-btn {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
    background: #2563eb;
    color: white;
}


<<<<<<< HEAD
@media(max-width: 1100px){
    /* add-user */
    .form-card{
=======
@media(max-width: 1100px) {

    /* add-user */
    .form-card {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: 75%;
        padding: 35px;
        margin: 30px auto;
    }

<<<<<<< HEAD
    .user-form{
        grid-template-columns: 1fr;
    }

    .form-action{
        justify-content: flex-start;
    }
    /* add-car */
    .car-frcars{
=======
    .user-form {
        grid-template-columns: 1fr;
    }

    .form-action {
        justify-content: flex-start;
    }

    /* add-car */
    .car-frcars {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        grid-template-columns: 1fr;
    }
}

/* chế độ phone */
<<<<<<< HEAD
@media (max-width: 768px){

    header{
=======
@media (max-width: 768px) {

    header {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        position: fixed;
        min-height: 60px;
        padding: 10px 15px;
    }

<<<<<<< HEAD
    header h1{
        font-size: 24px;
    }
    header .search{
=======
    header h1 {
        font-size: 24px;
    }

    header .search {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: 180px;
        margin-bottom: 0;
        padding-top: 0;
    }

<<<<<<< HEAD
    header .search input{
=======
    header .search input {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: 100%;
        padding: 10px;
        font-size: 13px;
    }

<<<<<<< HEAD
    .container{
=======
    .container {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        display: block;
        background-color: #1d1e1f;
    }

<<<<<<< HEAD
    .sidebar{
=======
    .sidebar {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: 70px;
        padding: 15px 8px;
        top: 60px;
        left: 0;
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
<<<<<<< HEAD
    .sidebar a{
=======

    .sidebar a {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: 50px;
        height: 50px;
        margin-bottom: 0;
        padding: 0;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* ẨN CHỮ */
<<<<<<< HEAD
        font-size: 0; 
        overflow: hidden;
    }
    .sidebar a img{
=======
        font-size: 0;
        overflow: hidden;
    }

    .sidebar a img {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: 26px;
        height: 26px;
        object-fit: contain;
        display: block;
    }
<<<<<<< HEAD
    .btn{
=======

    .btn {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        position: absolute;
        bottom: 20px;
        left: 10px;
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 14px;
        /* ẨN CHỮ LOGOUT */
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
<<<<<<< HEAD
    .btn img{
=======

    .btn img {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
<<<<<<< HEAD
    .main-content{
=======

    .main-content {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        width: calc(100% - 70px);
        margin-left: 70px;
        padding: 80px 12px 20px;
    }
<<<<<<< HEAD
    .chapter{
        font-size: 26px;
        margin: 10px 0;
    }
    .dashboard{
        padding: 18px;
        border-radius: 16px;
    }
    .dhb-head,
    .toolbar{
=======

    .chapter {
        font-size: 26px;
        margin: 10px 0;
    }

    .dashboard {
        padding: 18px;
        border-radius: 16px;
    }

    .dhb-head,
    .toolbar {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
<<<<<<< HEAD
    .toolbar input,
    .toolbar select{
        width: 100%;
    }
    .dhb-toof{
        grid-template-columns: 1fr;
    }
    .stat-box{
        min-height: auto;
    }
    .view_dashboard{
        overflow-x: auto;
    }

    .user_table{
=======

    .toolbar input,
    .toolbar select {
        width: 100%;
    }

    .dhb-toof {
        grid-template-columns: 1fr;
    }

    .stat-box {
        min-height: auto;
    }

    .view_dashboard {
        overflow-x: auto;
    }

    .user_table {
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
        min-width: 850px;
    }

    /* add-user */
<<<<<<< HEAD
    .user-form{
        grid-template-columns: 2fr;
    }

}









=======
    .user-form {
        grid-template-columns: 2fr;
    }

}
>>>>>>> bbc667b59360976b08a513038fcddb0555019882
