*{
    margin: 0;
    padding: 0;
    /*dúp phần tử không tăng kích thước ngoài ý muốn */
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 20px;
}

/* biến */
:root{
    --primary-color:#ffffffc4;
    --secondary-color:#111827;
    --text-color: #090808;
    --menu-color:  #090808;
}
body{
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}
.main{
    width: 100%;
}   
header{
    min-height: 60%;
    height: 80px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}
.logo{
    width: 100px;
}
.logo img{
    width: 210%;
    height: 80px;
}

#search{
    width: 300px;
    border-radius: 20px;
    border: 3px rgb(52, 140, 234) solid;
}
button{
    border-radius: 10px;
    font-size: 18px;
    background-color: black;
    color: rgb(252, 250, 248);
    padding: 10px 5px;  
}
.menu{
    width: 100%;
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 100px;
    background: rgb(7, 7, 7);
    align-items: center;
}

.menu li{
    position: relative;
}

.menu li a{
    /* xóa dấu gạch dưới chử */
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    /* chỉnh khối thẻ a, chỉnh rộng cao  */
    display: block;
}

.top_menu{
    width: 100%;
    position: absolute;
    display: none;
    /* đẩy phần tử con xuống dưới phần tử cha */
    top: 100%;
    padding: 10px 0px;
    left: 0;
    z-index: 20;
    list-style: none;
    background-color: var(--menu-color);
}   

.menu li:hover .top_menu{
    display: block;
}

.sub_menu{
    width: 100%;
    list-style: none;
    display:  none;
    position: absolute;
    z-index: 20;
    top: 100%;
    background-color: var(--menu-color);
}

.menu li:hover .sub_menu{
    display: block;
}

.bex_menu{
    width: 100%;
    top: 100%;
    position:  absolute;
    list-style: none;
    z-index: 20;
    display: none;
    background-color: var(--menu-color);
}

.menu li:hover .bex_menu{
    display: block;
}

/* bấm vào thẻ li chữ đỗi mầu */
.menu li:hover{
    background-color: rgba(68, 162, 112, 0.893);
    transition-duration: 1s;
    border-radius: 20px;
}

section{
    width: 100%;
    position: relative;
}
.banner{
    width: 100%;
}

.logo_banner{
    width: 100%;
}   

.content{
    width: 50%;
    position: absolute;
    color:#fff;
    top:30%;
    padding: 30px;
    font-size: 20px;
    /* màu trong suốt */
    background-color: transparent;
}
.content button{
    width: 200px;
    padding: 10px;
    position: absolute;
    align-items: center;
    top: 100%;
    left: 20%;
}

.title_name{
    width: 50%;
    font-size: 60px;
    position: absolute;
    top: -110px;
    left: 130%;
}

.logo_xe{
    position: absolute;
    top: 30%;
    left: 700px;
}













