*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #111827;
    --menu-color: #090808;
    --accent-color: #050709;
    --text-light: #ffffff;
}

/* Toàn trang */
body{
    background-color: #f4f6f8;

}

.main{
    width: 100vw;
    min-height: 100vh;
    padding-top: 140px;
}

.sticky_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
}

/* Header */
header{
    width: 100vw;
    min-height: 85px;
    padding: 10px 30px;
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.logo img{
    width: 220px;
    height: auto;
}

.search input{
    width: 350px;
    height: 42px;
    padding: 0 18px;
    border-radius: 25px;
    border: 2px solid var(--accent-color);
    outline: none;
}

.user {
    position: relative;
    display: inline-block;
    
}

.user #account_btn{
    padding: 11px 22px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
}

#account_btn:hover{
    text-decoration: underline;
}



.acc_dropdown {
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: #eff2f3;
    top: 100%;
    right: 0;
    width: 450px;
    color: white;
    min-width: 150px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 999;
}

.acc_dropdown.acctive {
    display: block;
}

.acc_top {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.acc_title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.acc_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 90%;
    padding: 12px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    
}

.acc_title_1 p{
    margin-top: 10px;
    font-size: 18px;
    color: #938d8c;

}

.title_icon {
    width: 100px;
    object-fit: contain;

}

.login-btn, .regis-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000000;
    font-size: 1.1em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.regis-btn {
    background-color: #5559ad;
    color: white;
    border: none;
}


.acc_mid #sub_title {
    margin: 20px;
    color:#938d8c;
    font-size: 1.5em;
    font-weight: bold;

}

.acc_menu1, .acc_menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.acc_item1, .acc_item2, .acc_item3, .acc_item4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 90%;
    padding: 12px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    
}

.acc_img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000000;
    flex-shrink: 0;
}

.acc_icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    filter: brightness(0) invert(1);

}

.item_content_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.acc_item1:hover, .acc_item2:hover, .acc_item3:hover, .acc_item4:hover {
    background-color: rgba(47, 46, 46, 0.392);
    border-radius: 10px;
    width: 100%;
}

.item_content_text a, p{
    margin: 0;
    font-size: 18px;
    text-decoration: none;   
}

.item_content_text a{
    color: #000000;
}

.item_content_text p{
    color: #938d8c;
}


.acc_mid {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.acc_menu1, .acc_menu2 {
    border-radius: 10px;
    cursor: pointer;
}




/* Menu */
nav{
    width: 100vw;
    position: relative;
    z-index: 99;
}

.menu{
    width: 100vw;
    max-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
    background-color: #090808;
}

.menu li{
    position: static;
}

.menu li a{
    /* nhóm thẻ a trong menu để dãng cách */
    display: block;
    padding: 15px 18px;
    color: white;
    /* bỏ đi dấu gạch chân */
    text-decoration: none;
    font-size: 17px;
}

.menu li:hover{
    background-color: rgba(68, 162, 112, 0.9);
    border-radius: 20px;
    transition: 0.3s;
}

/* Menu con */
.top_menu,
.sub_menu,
.bex_menu,
.footer_menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;    
    min-width: 100vw;
    padding: 10px 0;
    list-style: none;
    background-color: var(--menu-color);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.top_menu li a,
.sub_menu li a,
.bex_menu li a,
.footer_menu li a{
    padding: 12px 18px;
    font-size: 15px;
}

.menu li:hover .top_menu,
.menu li:hover .sub_menu,
.menu li:hover .bex_menu,
.menu li:hover .footer_menu{
    display: block;
}

.middle-title{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.784), rgba(0, 0, 0, 0.384)), url("../images/cars/bgcar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-title .wishlist-title h1{
    color: #cfd45f;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 4px 10px rgba(112, 179, 114, 0.744);
}

.middle-content{
    width: 100vw;
    height: 100vh;
    padding: 50px 80px 80px;
    background-color: #ffffff;
}

.middle-content .wishlist-content h2{
    color: #1f2937;
    font-size: 26px;
    font-weight: 600;
}

.middle-content{
    width: 100%;
    background-color: #eff2f3;
}

.content-layout .wishlist-content h2{
    color: #000000;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1px;
}

.content-layout ul {
    padding-left: 25px;
}

.content-layout ul li::marker{
    font-size: 25px;
    color: #919395;
}

ul li{
    margin-top: 25px;
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-bottom: 25px;
}

.button-action{
    display: flex;
    gap: 20px;
}

.button-action a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 60px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #111827;
    border-radius: 40px;
    color: #111827;
    font-size: 20px;
    font-weight: 500;
}

.signin{
    margin-top: 15px;
    letter-spacing: 0.5px;
    font-size: 20px;
    padding-left: 25px;
}

/* Footer */
footer{
    padding: 30px;
    text-align: center;
    background-color: #111827;
    color: white;
}

/* Responsive điện thoại */
@media (max-width: 768px){
    header{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .search input{
        width: 280px;
    }

    .menu{
        /* sắp xếp các mục trong menu theo cột dọc */
        flex-direction: column;
        /* sắp xếp các mục trong menu theo hàng ngang */
        /* flex-direction: row; */
        gap: 0;
        height: auto;
        padding: 10px 0;
    }

    .top_menu,
    .sub_menu,
    .bex_menu,
    .footer_menu{
        position: static;
        min-width: 100%;
        text-align: center;
    }

    section:first-of-type{
        min-height: 700px;
    }

    .content{
        width: 100%;
        padding: 80px 25px;
        text-align: center;
    }

    .content h1:first-child{
        font-size: 42px;
    }

    .content h1{
        font-size: 28px;
    }

    .logo_xe{
        position: static;
        width: 90%;
        margin-top: 20px;
        transform: none;
    }
}

/* vidu{
    chia cột chuyên nghiệp.
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
} */

#backToTop{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}
